@use "../styles/index" as *;

h1,
.h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -1.25px;
}

h3,
.h3 {
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
}

p,
.p {
  font-size: 16px;
  line-height: 24px;
}

span {
  font-size: 14px;
  line-height: 22px;
}

button {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

a {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  transition: color 0.3s ease;

  &:hover {
    color: $text-subdued;
  }
}
